### Python Data Stracture
### List -->[]
* Collection Hetrogenoues Data set
    - Example digits,chr,spl char,space...etc
* Reprasents symbol like this []
* List Contain Dupliate data sett
* List Is a Mutable(can Modify,create,update,delete)
## Tuple-->()
## Set    -->{}

In [17]:
l=[23,2.5,"vijay",'c','b','!',' ']

In [2]:
l

[23, 2.5, 'vijay', 'c', 'b', '!', ' ']

In [5]:
len(l)

7

In [7]:
l[-2]

'!'

In [11]:
l[2:5]

['vijay', 'c', 'b']

In [12]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
l.append(15)

In [14]:
l

[23, 2.5, 'vijay', 'c', 'b', '!', ' ', 15]

In [15]:
l.clear()

In [18]:
l

[23, 2.5, 'vijay', 'c', 'b', '!', ' ']

In [19]:
l2=l.copy()
l2

[23, 2.5, 'vijay', 'c', 'b', '!', ' ']

In [20]:
l.append(30)

In [21]:
l2

[23, 2.5, 'vijay', 'c', 'b', '!', ' ']

In [22]:
l=[1,1,4,5,6,7,1,4,5,7,8]

In [23]:
l.count(1)

3

In [24]:
for i in l:
    print(i,"--->",l.count(i))

1 ---> 3
1 ---> 3
4 ---> 2
5 ---> 2
6 ---> 1
7 ---> 2
1 ---> 3
4 ---> 2
5 ---> 2
7 ---> 2
8 ---> 1

In [26]:
uniq=[]
for i in l:
    if i not in uniq:
        uniq.append(i)

In [27]:
uniq

[1, 4, 5, 6, 7, 8]

In [28]:
for i in uniq:
    print(i,"-->",l.count(i))

1 --> 3
4 --> 2
5 --> 2
6 --> 1
7 --> 2
8 --> 1

#### String with list

In [29]:
s="hello apssd cbit proddatur ap"

In [30]:
l=list(s)

In [32]:
s="APSSDC"

In [33]:
list(s)

['A', 'P', 'S', 'S', 'D', 'C']

In [34]:
s="hello apssd cbit proddatur ap"

In [35]:
s.split()

['hello', 'apssd', 'cbit', 'proddatur', 'ap']

In [36]:
s="apple 50 banana 8 piapple 50 grape 50"

In [38]:
l=s.split()

In [39]:
l

['apple', '50', 'banana', '8', 'piapple', '50', 'grape', '50']

In [40]:
amount=[]
fruits=[]
for i in range(len(l)):
    if(i%2==0):
        fruits.append(l[i])
    else:
        amount.append(l[i])

In [41]:
print(fruits)
print(amount)

['apple', 'banana', 'piapple', 'grape']
['50', '8', '50', '50']

Task:
    - prime Series -->10
      - 2 3 5 7  11 13 17 19 23 29
    - even Series: -->10
    - 2 4 6 8 10 12 14 16 18 20
output:
    2 2 3 4 5 6 7 8 11 10 13 12 17 14 19 16 23 18 29 20

In [42]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [43]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [45]:
l1.index(3)

2

In [46]:
l1

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [47]:
l1.append(20)

In [48]:
l1

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 20]

In [52]:
l1.insert(5,50)# first argument is index second one is  value

In [53]:
l1

[1, 2, 3, 4, 5, 50, 4, 5, 6, 7, 8, 20, 5]

In [54]:
l1.pop()

5

In [56]:
l1.pop(5)# pop allows only index position

50

In [57]:
l1.remove(4)

In [62]:
l1

[20, 8, 7, 6, 5, 4, 5, 3, 2, 1]

In [59]:
l1.reverse()

In [61]:
l1

[20, 8, 7, 6, 5, 4, 5, 3, 2, 1]

In [63]:
l1.sort()# Asceding Order

In [65]:
l1.sort(reverse=True)# Descending Order

In [66]:
l1

[20, 8, 7, 6, 5, 5, 4, 3, 2, 1]

In [71]:
# Task:
# l=[5,13,3,2,6,7,12,4,8,1,6]
# after Sorting -->[1,2,3,4,5,6,6,7,8,12,13]
# ouput:1-->[5,13,3,2,6,1,4,6,7,8,12]
#       2-->[2,3,5,13,6,7,12,4,8,1,6]
#       3-->[13,5,3,2,6,12,8,7,6,4,1]
    
l=[5,13,3,2,6,7,12,4,8,1,6]

In [72]:
print(sorted(l))

[1, 2, 3, 4, 5, 6, 6, 7, 8, 12, 13]

In [73]:
l

[5, 13, 3, 2, 6, 7, 12, 4, 8, 1, 6]

In [83]:
mid=len(l)//2
l[mid]

7

In [84]:
# 1-->[5,13,3,2,6,1,4,6,7,8,12]
le=l[:mid]
rl=l[mid+1:]
print(le)
print(rl)

[5, 13, 3, 2, 6]
[12, 4, 8, 1, 6]

In [86]:
rl.sort()

In [87]:
rl

[1, 4, 6, 8, 12]

In [89]:
le.append(l[mid])

In [91]:
le.extend(rl)

In [93]:
# 1-->[5,13,3,2,6,7,1,4,6,8,12]
le

[5, 13, 3, 2, 6, 7, 1, 4, 6, 8, 12]

In [94]:
l

[5, 13, 3, 2, 6, 7, 12, 4, 8, 1, 6]

In [106]:
ll=l[:mid]

In [107]:
ll

[5, 13, 3, 2, 6]

In [108]:
rl=l[mid+1:]
rl

[12, 4, 8, 1, 6]

In [109]:
ll.sort()

In [110]:
ll

[2, 3, 5, 6, 13]

In [111]:
ll.append(l[mid])

In [112]:
ll.extend(rl)

In [113]:
ll

[2, 3, 5, 6, 13, 7, 12, 4, 8, 1, 6]

In [115]:
ll=l[:mid]
ll.sort(reverse=True)
ll
rl=l[mid+1:]
rl.sort(reverse=True)
rl

[12, 8, 6, 4, 1]

In [116]:
ll.append(l[mid])

In [117]:
ll.extend(rl)

In [118]:
ll

[13, 6, 5, 3, 2, 7, 12, 8, 6, 4, 1]

In [119]:
# st="ECE4EEE3CIV2CSE4"
# ouput:ECEECEECEECE
#       EEEEEEEEE
#       CIVCIV
#       CSECSECSECSE

In [121]:
data='cbit'
print(data*2)

cbitcbit

In [122]:
st="ECE4EEE3CIV2CSE4"

In [129]:
branches=[]
values=[]
s=''
for i in st:
    if(i.isalpha()):
#         print(i,end=" ")
        s=s+i
    else:
        branches.append(s)
        values.append(i)
        s=''
print(branches)
print(values)

['ECE', 'EEE', 'CIV', 'CSE']
['4', '3', '2', '4']

In [131]:
for i in range(len(branches)):
    print(branches[i]*int(values[i]))

ECEECEECEECE
EEEEEEEEE
CIVCIV
CSECSECSECSE

In [132]:
st="ECE4EEE3CIV2CSE4"
s=''
for i in st:
    if(i.isalpha()):
#         print(i,end=" ")
        s=s+i#""+E ---S="E",s="EC",s="ECE"
#     s=EEE
    else:
        print(s*int(i))
        s=''

ECEECEECEECE
EEEEEEEEE
CIVCIV
CSECSECSECSE

In [134]:
s="PPPPPPYYYYYTTTTTTTTOOOOOHHHHHHHNNNNNN"
uniq=[]
us=""
for i in s:
    if i not in uniq:
        uniq.append(i)
        us=us+i
print(uniq)
print(us)

['P', 'Y', 'T', 'O', 'H', 'N']
PYTOHN

In [136]:
for i in uniq:
    print(i,"-->",s.count(i))

P --> 6
Y --> 5
T --> 8
O --> 5
H --> 7
N --> 6

In [164]:
# st="q2i3a5o2"
# ouput:qsilafoq
st="z2i3a5o2"
s=""
for i in st:
    if(i.isalpha()):
        temp=i
    else:
        s=s+(temp+chr(ord(temp)+int(i)))
print(s)
# print(s[::-1])

z|ilafoq

In [144]:
chr(ord('q')+int('2'))

's'

In [163]:
# st="q2i3a5o2"
# ouput:qsilafoq
st="z2i3a5o2"
s=""
nu=''
for i in st:
    if(i.isalpha()):
        temp=i
    elif(i.isnumaric()):
        nu=nu+i
        s=s+(temp+chr(ord(temp)+int(i)))
print(s)
# print(s[::-1])

AttributeError: 'str' object has no attribute 'isnumaric'

In [162]:
chr(ord('z')+2)

'|'

In [161]:
st="q2i3a10o2"
v=[]
ch=[]
n=''
for i in st:
    if(i.isnumeric()):
#         print(i)
        n=n+i
    elif(i.isalpha()):
        print(n)
        v.append(n)
        ch.append(i)
        n=''
# print(v)
# print(ch)

2
3
10

In [166]:
data=["cbit","vbit","pdtr","apssdc","ap"]
data2=[]
for string in data:
    data2.append(string[::-1])
data2

['tibc', 'tibv', 'rtdp', 'cdsspa', 'pa']

In [167]:
names=['srirama','sai','sairam','Veera venkata satyanarayana','venkatesa',"Hanuman",'ap']

In [168]:
sorted(names)

['Hanuman',
 'Veera venkata satyanarayana',
 'ap',
 'sai',
 'sairam',
 'srirama',
 'venkatesa']

In [169]:
names.sort()

In [170]:
names

['Hanuman',
 'Veera venkata satyanarayana',
 'ap',
 'sai',
 'sairam',
 'srirama',
 'venkatesa']

In [171]:
names.sort(key=len)

In [172]:
names

['ap',
 'sai',
 'sairam',
 'Hanuman',
 'srirama',
 'venkatesa',
 'Veera venkata satyanarayana']

In [176]:
print(sorted(names,key=len,reverse=True))

['Veera venkata satyanarayana', 'venkatesa', 'Hanuman', 'srirama', 'sairam', 'sai', 'ap']

## Tuple
* It is also contain Collection Hetrogenoues Data set
* Example digits,chr,spl char,space...etc
* Reprasents symbol like this ()
* It is also Contain Dupliate data set
* It is Immutable

In [177]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [178]:
t=(2,3,1,4,5)

In [179]:
t.count(3)

1

In [180]:
t.index(2)

0

In [181]:
t[:2]

(2, 3)

In [182]:
sum(t)

15

In [183]:
max(t)

5

In [184]:
min(t)

1

## Sets()
* It Can be reprasented by symbol like {}
* It Doesn't contains the Duplicate Values 
* It also Mutable

In [185]:
s={3,2,4,7,8,3,2,1,5,0}

In [186]:
s

{0, 1, 2, 3, 4, 5, 7, 8}

In [187]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [188]:
s

{0, 1, 2, 3, 4, 5, 7, 8}

In [189]:
s.pop()

0

In [190]:
s

{1, 2, 3, 4, 5, 7, 8}

In [191]:
s1={10,20,30,2}

In [192]:
s.intersection(s1)

{2}

In [194]:
s.copy()

{1, 2, 3, 4, 5, 7, 8}

In [195]:
s

{1, 2, 3, 4, 5, 7, 8}

In [196]:
s1

{2, 10, 20, 30}

In [197]:
s=s1.copy()
s

{2, 10, 20, 30}

In [198]:
s.add(1000)

In [199]:
s

{2, 10, 20, 30, 1000}

In [202]:
avg=sum(s)//len(s)
avg

212

In [203]:
s1

{2, 10, 20, 30}

In [204]:
s

{2, 10, 20, 30, 1000}

In [205]:
s.difference(s1)

{1000}

In [206]:
s="wearelearingPythoprogramming"
set(s)

{'P', 'a', 'e', 'g', 'h', 'i', 'l', 'm', 'n', 'o', 'p', 'r', 't', 'w', 'y'}

In [207]:
ord('a')

97

In [208]:
ord('P')

80

## Dictionaries
* -----
* Word-->Meaining Format
* "Key" -->"Value" pair data in format
* mutable
* No Indexing/Slicing
    - Students:
      -   pallavolu sai ram--> peddireddy sai ram-->Value
      -   Roll num->504-->Key
* Reprasent by flower bracess {}
* Short From is dict

In [ ]:
d={"Key1":"Value1","Key2 ":'Value2',"key3 ":"value3"}

In [209]:
nd={"CBIT":2008,"Python":1991,"Apssdc":2014}

In [210]:
nd

{'CBIT': 2008, 'Python': 1991, 'Apssdc': 2014}

In [211]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [232]:
nd

{'CBIT': 2008, 'Python': 1991, 'Apssdc': 2014}

In [233]:
nd.keys()#Getting all Keys From Dict

dict_keys(['CBIT', 'Python', 'Apssdc'])

In [234]:
nd.values()

dict_values([2008, 1991, 2014])

In [235]:
nd

{'CBIT': 2008, 'Python': 1991, 'Apssdc': 2014}

In [238]:
nd['python']=1989

In [240]:
nd.popitem()

('python', 1989)

In [241]:
nd

{'CBIT': 2008, 'Python': 1989, 'Apssdc': 2014}

In [242]:
nd.pop("Python")

1989

In [243]:
nd

{'CBIT': 2008, 'Apssdc': 2014}

In [ ]:
#Function to create Contacts Application

In [2]:
myContacts={}

In [8]:
#Function To create a contact

def addContact(name,mobileNumber):
    if name not in myContacts:
        myContacts[name]=mobileNumber
        print(" Data Saved Successfully..",name)
    else:
        print(name," Already exist")
    
name=input("Enter the Name ")
mobileNumber=int(input("Enter the mobile number"))
addContact(name,mobileNumber)

Enter the Name teja
Enter the mobile number152454
 Data Saved Successfully.. teja

In [9]:
myContacts

{'muni': 1212121,
 'sirisha': 16257812535781578,
 'jumbooo': 90909,
 'teja': 152454}

In [12]:
#Update the Contacts
def updateContact(name):
    if name in myContacts:
        mobile=int(input("Enter the Mobile number for update "))
        myContacts[name]=mobile
        print(mobile," Updated Successfully")
    else:
        print("OOps..! Name Not exist for up date")
updateContact('muni')

Enter the Mobile number for update 5425467276276247
5425467276276247  Updated Successfully

In [259]:
# muni--->83627862386826
myContacts

{'muni': 367387, 'vijay': 98364828485825482374782354784, 'sai': 1211111}

In [14]:
def deleteContact(name):
    if name in myContacts:
        myContacts.pop(name)
        print(" Deleted Successfully")
    else:
        print("OOps..! Name Not exist for up date")
deleteContact('teja')

 Deleted Successfully

In [15]:
myContacts

{'muni': 5425467276276247, 'sirisha': 16257812535781578, 'jumbooo': 90909}

In [17]:
def displayAllContacts(d):
    if len(myContacts)<0:
        print("Empty contacts ")
    else:
        for k,v in myContacts.items():
            print(k,"-->",v)
displayAllContacts(myContacts)

muni --> 5425467276276247
sirisha --> 16257812535781578
jumbooo --> 90909

In [19]:
d="12311114321115657111"
d=set(list(d))
d

{'1', '2', '3', '4', '5', '6', '7'}

In [ ]:
# Task:
#     #Search the  Contacts
#     #Find the freqvency of the given string
#         #Ex:number=12311114321115657111
#         #ex:name="wearelaeringPythonProgrmminggggggg"
#         output1:1:11
#                 g:9
# Task:
#     input:{'g':4,'s':5,'a':3,'cbit':2}
#     ouput:ggggsssssaaacbitcbit

In [24]:
#Find the freqvency of the given string
#         #Ex:number=12311114321115657111
#         #ex:name="wearelaeringPythonProgrmminggggggg"
#         output1:1:11
#                 g:9

name="wearelaeringPythonProgrmminggggggg"
un=[]
frqDict={}
for char in name:
    if char not in un:
        un.append(char)
# print("Unique Char :",un)
for j in un:
    frqDict[j]=name.count(j)
# print(frqDict)
m=max(frqDict.values())
for k,v in frqDict.items():
    if m==v:
        print(k,"-->",v)

g --> 9

In [ ]:
# python code to demonstrate working of reduce() 

# importing functools for reduce() 
import functools 

# initializing list 
lis = [ 1 , 3, 5, 6, 2, ] 

# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(lambda a,b : a+b,lis)) 

# using reduce to compute maximum element from list 
print ("The maximum element of the list is : ",end="") 
print (functools.reduce(lambda a,b : a if a > b else b,lis))

In [213]:
import functools

In [217]:
functools.reduce?

In [229]:
# Python3 code to demonstrate working of 
# Alternate vowels and consonents in String 
# using zip_longest() + join() + loop 
from itertools import zip_longest 

# initializing string 
test_str = "gaeifgsbou"

# printing original string 
print("The original string is : " + test_str) 

# Alternate vowels and consonents in String 
# using zip_longest() + join() + loop 
vowels = ['a', 'e', 'i', 'o', 'u'] 
test_vow = [] 
test_con = [] 
for ele in test_str: 
    if ele in vowels: 
        test_vow.append(ele) 
    elif ele not in vowels: 
        test_con.append(ele) 
res = ''.join(''.join(ele) for ele in zip_longest(test_vow, test_con, fillvalue ='')) 

# printing result 
print("Alternate consonents vowels are: " + res)

The original string is : gaeifgsbou
Alternate consonents vowels are: agefigosub

In [227]:
# Python3 code to demonstrate working of 
# Get positional characters from String 
# using loop 

# initializing string 
test_str = "gfgisbest"

# printing original string 
print("The original string is : " + test_str) 

# initializing index list 
indx_list = [1, 3, 4, 5, 7] 

# Get positional characters from String 
# using loop 
res = '' 
for ele in indx_list: 
	res = res + test_str[ele] 

# printing result 
print("Substring of selective characters : " + res)

The original string is : gfgisbest
Substring of selective characters : fisbs

In [226]:
# Python3 code to demonstrate working of 
# Suffix removal from String list 
# using loop + remove() + endswith() 

# initialize list 
test_list = ['allx', 'lovex', 'gfg', 'xit', 'is', 'bestx'] 

# printing original list 
print("The original list : " + str(test_list)) 

# initialize suffix 
suff = 'x'

# Suffix removal from String list 
# using loop + remove() + endswith() 
for word in test_list[:]: 
	if word.endswith(suff): 
		test_list.remove(word) 

# printing result 
print("List after removal of suffix elements : " + str(test_list))

The original list : ['allx', 'lovex', 'gfg', 'xit', 'is', 'bestx']
List after removal of suffix elements : ['gfg', 'xit', 'is']

In [230]:
# Python3 code to demonstrate working of 
# String construction from character frequency 
# using loop 

# initialize list 
test_list = [('g', 4), ('f', 3), ('g', 2)] 

# printing original list 
print("The original list : " + str(test_list)) 

# String construction from character frequency 
# using loop 
res = '' 
for char, freq in test_list: 
	res = res + char * freq 

# printing result 
print("The constructed string is : " + str(res))

The original list : [('g', 4), ('f', 3), ('g', 2)]
The constructed string is : ggggfffgg

In [231]:
# Python3 code to demonstrate working of 
# Get Nth word in String 
# using loop 

# initializing string 
test_str = "GFG is for Geeks"

# printing original string 
print("The original string is : " + test_str) 

# initializing N 
N = 3

# Get Nth word in String 
# using loop 
count = 0
res = "" 
for ele in test_str: 
	if ele == ' ': 
		count = count + 1
		if count == N: 
			break
		res = "" 
	else : 
		res = res + ele 

# printing result 
print("The Nth word in String : " + res)

The original string is : GFG is for Geeks
The Nth word in String : for

In [25]:
s="123456789"
s=list(s)
s

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [26]:
n=[]
for i in s:
    n.append(int(i))
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
sum(n)

45

In [33]:
s="987654345678"
l=list(map(int,list(s)))
l

[9, 8, 7, 6, 5, 4, 3, 4, 5, 6, 7, 8]

In [34]:
l2=list(map(str,l))
l2

['9', '8', '7', '6', '5', '4', '3', '4', '5', '6', '7', '8']

In [35]:
str(l2)

"['9', '8', '7', '6', '5', '4', '3', '4', '5', '6', '7', '8']"

In [39]:
''.join(l2)

'987654345678'

In [49]:
#conversion
#1.List To tuple
li=[1,2,3,4,5]
tu_data=tuple(li)
tu_data
#2.Tuple to List
l_data=list(tu_data)
l_data
#3.List to Set
set_data=set(l_data)
set_data
#4.set to List
l_data=list(set_data)
l_data
#5.tuple to set
s_data=set(tu_data)
s_data
#6.set to tuple
tu_data=tuple(s_data)
tu_data
#7.list to Dictionary # it is not possible
dic_data=dict(l_data)
dic_data
#8.tuple to dictionary # not possible
#9.set to Dictionary not possible'
#10.Dictionary to list # not possible
l=list({1:"a",2:'b',3:"c"})
l
#11 Dictionary to tuple # not possible
#12 Dictionary to set  # not possible

TypeError: cannot convert dictionary update sequence element #0 to a sequence

tuple